.categories-item{
    padding: 15px 15px;
    background-color: var(--light_pink);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
}
.categories-item img{
    width: 100%;
}
.categories-item button{
    width: 100%;
    margin-top: 1.2rem;
    font-size: 1.1rem;
}
.category-result-container p{
    color: var(--text_color_1);
    font-size: 1.1rem;
    width: 80%;
    margin: 0 auto 2rem auto;
}
@media screen and (max-width:850px) {
    .categories-item button{
        font-size: 1rem;
    }
    .category-result-container p{
        font-size: 1rem;
    }
}
@media screen and (max-width:600px) {
    .categories-item button{
        font-size: 0.9rem;
    }
    .category-result-container p{
        font-size: 0.9rem;
    }
}